#drag2{
  width: 90%;
  height: 100%;
/*  min-height: 6.5em;*/
  /*margin: 10%;*/
  background-color: #29e;
  color: white;
  border-radius: 0.75em;
  padding: 1%;
  user-select: none;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}
#drag1{
  width: 150px;
  height: 75px;
}
.box {
    width: 90%;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    color: #4a4a4a;
    display: block;
    padding: 1.25rem;
}