.draggable {
    width: 150px;
    height: 150px;
 
}

.droppable {
	margin-left: auto;
    margin-right: auto;
    width: 70px;
    height: 70px;
     text-align: center
}

#joke {

    width: 150px;
    height: 150px;
}