TABLE {
	border-collapse: collapse; /* Убираем двойные линии между ячейками */
}
TD, TH {
	padding: 3px; /* Поля вокруг содержимого таблицы */
	border: 1px solid #C0C0C0;
}
TH {
	background: #E8E8E8;
}
td.ro {
	background: #F5F5F5;	
}

.hide { visibility:hidden }
.show { visibility:visible }